<ion-header>
  <ion-toolbar side="left">
    <ion-title>
        <ion-list>
            <ion-list-header>Search</ion-list-header>
            <ion-item>
              <ion-label>Category:</ion-label>
              <ion-select #category interface="action-sheet" value="anime" okText="Okay" cancelText="Dismiss" (ionChange)="contentVisible = false;">
                <ion-select-option value="anime">Anime</ion-select-option>
                <ion-select-option value="manga">Manga</ion-select-option>
                <ion-select-option value="character">Character</ion-select-option>
                <ion-select-option value="person">Person</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
      <ion-input #queryString type="text" placeholder="Search..." minlength="3"></ion-input>
      <ion-button expand="block" (click)="search(category.value, queryString.value)">Search</ion-button>
    </ion-card-content>
  <ion-card-content>
    <ion-spinner name="bubbles" *ngIf="showLoading"></ion-spinner>
    <ion-list *ngIf="contentVisible">
        <ion-item *ngFor="let result of searchResults?.results" (click)="passSelectedValue(category.value, result.mal_id)">
          <ion-thumbnail>
            <img src="{{result?.image_url}}">
          </ion-thumbnail>
          <ion-card-content *ngIf="category.value == 'anime'">
            {{result?.title}}<br>
            ({{result?.score}} | {{result?.type}} [{{result?.episodes}}])
          </ion-card-content>
          <ion-card-content *ngIf="category.value == 'manga'">
            {{result?.title}}<br>
            ({{result?.score}} [{{result?.volumes}}/{{result?.chapters}}])
          </ion-card-content>
          <ion-card-content *ngIf="category.value == 'character'">
            {{result?.name}}<br>
            ({{result?.anime?.length > 0 ? result?.anime[0].name : result?.manga[0].name}})
          </ion-card-content>
          <ion-card-content *ngIf="category.value == 'person'">
            {{result?.name}}<br>
            {{result?.alternative_names.length > 0 ? (result?.alternative_names[0]) : ''}}
          </ion-card-content>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-content>
